#images-modal-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 80vh;
    border-radius: 10px;
    background: #151515;
    padding-left: 1rem;
    padding-right: 1rem;
}

#modal-res-name {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

#modal-img-tile {
    height: 14rem;
    width: 14rem;
    border-radius: 3px;
    overflow: scroll;
    margin-right: 0.5rem;
}

#imgs-url-container {
    display: flex;
    flex-direction: row;
}
