.modal-button {
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    width: 8rem;
    height: 2rem;
}

.Register-modal-button{
    background: transparent;
    border: none;
    color: #ff9600;
}

.Register-modal-button:hover{
    text-decoration: underline;
    color: #ff9600;
}
