.profile-dropdown {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 91%;
  background: white;
  height: 5rem;
  width: 8rem;
  padding: 15px;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.profile-button {
  background-color: transparent;
  font-size: 20px;
  border: none;
  border-radius: 60px;
}

.homepage-logout-button {
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #ff9500;
  transition: 0.5s ease;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
}

.homepage-logout-button:hover {
  box-shadow: 0.5px 0.5px #373737, 1px 1px #373737, 2px 2px #373737;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: 0.5s ease;
}

.profile-button:hover {
  box-shadow: 1px 10px 50px -8px rgba(0, 0, 0, 1);
  cursor: pointer;
}

.profile-image {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

.nav-bar {
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: black;
  z-index: 999;
}

.home-button {
  padding: 0;
  height: 50px;
  width: 90px;
  text-decoration: none;
}

.search-bar {
  cursor: pointer;
  height: 30;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: orange;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  margin-top: 7px;
}

#combo-box-demo {
  width: 7rem;
}

.search-bar-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
}

.search-bar-form input {
  width: 400px;
}

.search-input {
  width: 0;
  outline: none;
  border: none;
  transition: 0.3s;
  background: transparent;
}

.login-signup-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 5rem;
  list-style: none;
  margin-top: 5px;
  padding: 0;
}

.search-submit-button {
  text-decoration: none;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
}

.search-submit-button:hover {
  cursor: pointer;
}

.fa-search {
  width: 20px;
  height: 20px;
}

/* .search-bar-form select {
  visibility: hidden;
  width: 0;
} */

.search-bar-form select {
  visibility: visible;
  width: 3.8rem;
}

.create-restaurant-button {
  color: grey;
  text-decoration: none;
  margin-top: 14px;
  justify-self: flex-end;
}

.create-restaurant-button:hover {
  transition: 0.5s;
  color: white;
}

.create-restaurant {
  display: flex;
}

.genre-input-1 {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  font-size: smaller;
  background-color: grey;
  color: white;
}

.price-input-1 {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  font-size: smaller;
  background-color: grey;
  color: white;
}

#corner-nav-container {
  display: flex;
}
