.profile-dropdown {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 90%;
  background: white;
  height: 4rem;
  width: 6rem;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hidden {
  display: none;
}

.profile-button {
  background-color: transparent;
  font-size: 20px;
  border: 2px solid rgb(107, 185, 240);
  border-radius: 25px;
  color: rgb(107, 185, 240);
  align-self: center;
  padding: 5px 20px 5px 20px;
  margin: 0 15px 0 0 ;
  transition: 0.5s ease;
}

.profile-button:hover {
 background-color:rgb(107, 185, 240) ;
 color: white;
}

#profile-icon {
  font-size: 23px;
  align-self: center;
}

.homepage-logout-button {
  border: none;
  border-radius: 8px;
  padding: 5px;
  color: white;
  background-color: rgb(107, 185, 240);
  transition: 0.5s ease;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.profile-button:hover {
  cursor: pointer;
}

.profile-image {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  color: rgb(107, 185, 240);
}

.nav-bar {
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
  z-index: 999;
  height: 5rem;
}

.home-button {
  padding-left: 20px;
  height: 50px;
  width: 90px;
  text-decoration: none;
}

.search-bar {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  width: 35rem;
  height: 1.5rem;
  align-self: center;
}

#combo-box-demo {
  width: 19rem;
}

.search-bar-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
  width: 100%;
  justify-content: space-between;
}

.search-bar-form input {
  width: 400px;
}

.search-input {
  width: 0;
  outline: none;
  border: none;
  transition: 0.3s;
  background: transparent;
}

.login-signup-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 5rem;
  list-style: none;
  padding: 0;
}


.search-submit-button {
  text-decoration: none;
  border: none;
  border-radius: 15px;
  background-color: transparent;
  width: 50px;
  height: 25px;
  background-color: rgb(107, 185, 240);
}

.search-submit-button:hover {
  cursor: pointer;
}



/* .search-bar-form select {
  visibility: hidden;
  width: 0;
} */

.search-bar-form select {
  visibility: visible;
  width: 3.8rem;
}

.create-restaurant-button {
  color: grey;
  text-decoration: none;
  justify-self: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}

.create-restaurant-button:hover {
  transition: 0.5s;
  color: black;
}

.create-restaurant {
  display: flex;
}

.genre-input-1 {
  border: none;
  border-radius: 3px;
  font-size: smaller;
  color: black;
  background-color: transparent;
  width: 100%;
}

option:hover {
  background-color: rgb(107, 185, 240);
}

#option-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#option-wrapper select{
  width: 6rem;
  height: 1.5rem;
}

.price-input-1 {
  border: none;
  border-radius: 3px;
  font-size: smaller;
  color: black;
  background-color: transparent;
}

.price-input-1 option {
  width: 4rem;
}

#corner-nav-container {
  display: flex;
}

@media screen and (max-width: 850px) {
  .search-bar {
    width: 15rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: transparent;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    height: 1.5rem;
    align-self: center;
  }
  .genre-input-1 {
    display: none;
  }
  .price-input-1 {
    display: none;
  }

  #combo-box-demo {
    width: 9rem;
  }
}
