.all-restaurant-tiles {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.res-detail-body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.h1-lameo {
	color: #0e0e0e;
	text-align: center;
	padding-top: 50px;
	font-size: 25px;
}

.actl-res-img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}

.indv-res-info-container {
  display: flex;
  border: 1px solid black;
  width: 50rem;
  margin: 1rem 0 0 0;
  padding: 0.75rem;
}

.res-info-container {
  margin: 0 0 0 1rem;
}

.indv-res-navlink {
	width: 50rem;
}

.indv-res-navlink:visited,
.indv-res-navlink:link,
.indv-res-navlink:hover,
.indv-res-navlink:active {
	text-decoration: none;
	color: black;
}

#res-name-text {
	font-size: 1.5rem;
}

.res-stars-text {
	font-size: 1.5rem;
}

